<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center row">
                <div class=" col-md-6">
                    <img src="https://img.freepik.com/vector-gratis/error-404-perdido-ilustracion-concepto-espacio_114360-7901.jpg" alt=""
                        class="img-fluid">
                </div>
                <div class=" col-md-6 mt-5 ">
                    <p class="fs-3"> <span class="text-success">Opps!</span> Página no encontrada</p>
                    <p class="lead">
                        La página que estás viendo no existe. Por seguridad de la página, será redireccionado al login administrativo.
                    </p>
                    <a href="/login" class="btn btn-primary">Ir al login</a>
                </div>

            </div>
        </div>
</body>
</html>