{{>navbar}}

<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Registro de contacto</h3>
                <form action="/enter/add" method="post">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name="nombre" id="" placeholder="nombre" style="border-color: black;" class="form-control form-control-lg" required />
                      <label class="form-label" for="form3Example1m"></label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name="apellido" id="" style="border-color: black;" placeholder="apellido"class="form-control form-control-lg" required/>
                      <label class="form-label" for="form3Example1n"></label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" name="cedula" id="" style="border-color: black;" placeholder="cedula" maxlength="10"  class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example8"></label>
                </div>

                {{!-- nacimiento --}}
                <div class="form-outline mb-4">
                  <input type="date" name="Nacimiento" id="fechaNacimiento"  style="border-color: black;" min="1919-01-01" max="" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example9"></label>
                </div>
                <script>

                  let fecha = document.getElementById('fechaNacimiento');
                  let fechaActual = new Date().toISOString().split('T')[0];
                  fecha.setAttribute('max', fechaActual);

                </script>
                
                {{!-- edad --}}
                <div class="form-outline mb-4">
                  <input type="text" name="edad" id="Edad" class="form-control form-control-lg" value="" style="border-color: black;" readonly />
                  
                  <label class="form-label" for="form3Example9"></label>
                </div>
                <script>
                  const edad = document.getElementById('Edad');

                  const calcularEdad = () => {
                    const fechaActual = new Date();
                    const ano = fechaActual.getFullYear();
                    const mes = fechaActual.getMonth() + 1;
                    const dia = fechaActual.getDate();

                    const fechaNacimiento = new Date(fecha.value);
                    const anoBorn = fechaNacimiento.getFullYear();
                    const mesBorn = fechaNacimiento.getMonth() + 1;
                    const diaBorn = fechaNacimiento.getDate();

                    let edadCalculada = ano - anoBorn;

                    if (mes < mesBorn || (mes === mesBorn && dia < diaBorn)) {
                      edadCalculada--;
                    }

                    Edad.value = `${edadCalculada} años`
                  };

                  fecha.addEventListener('change', calcularEdad);
                </script>
                {{!-- teléfono --}}
                <div class="form-outline mb-4">
                  <input type="number" name="Telefono" id="" placeholder="telefono"  class="form-control form-control-lg" style="border-color: black;" required/>
                  <label class="form-label" for="form3Example90"></label>
                </div>
                <div class="form-outline mb-4">

                  {{!-- dirección --}}
                  <input type="text" name="Direccion" style="border-color: black;" id="" placeholder="Direccion"  class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example90"></label>
                </div>
                

                <div class="d-flex justify-content-center pt-3">
                  <button style="border-color: black;"type="button" class="btn btn-light btn-lg">Reset all</button>
                  <button  style="border-color: rgb(248, 150, 2);" class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

